In [4]:
import pandas as pd

In [5]:
df_codeshare = pd.read_csv('codeshare_log.csv')
df_competition = pd.read_csv('competition_info.csv')
df_participate = pd.read_csv('participate_log.csv')
df_submission = pd.read_csv('submission_log.csv')
df_talk = pd.read_csv('talk_log.csv')

# <span style="font-style:italic; font-weight:bold;font-family:serif; font-size:1em;line-height:1.5em;color:blue;">feature 엔지니어링 주제</span>

In [6]:
print(df_codeshare.columns)
print(df_competition.columns)
print(df_participate.columns)
print(df_submission.columns)
print(df_talk.columns)

Index(['ID', '일자', '코드 공유 수', '댓글 수', '조회 수', '공유 수', '다운로드 수', '좋아요 수'], dtype='object')
Index(['ID', '대회명', '키워드', '시작시간', '종료시간', '참여자 수', '상금 정보', '최대 팀원 수',
       '수상자 수', '일일 제출횟수', '평가산식', '참가조건 여부', '연습가능 여부', '아이디어 대회 여부',
       '월간 데이콘 여부', '대회 개요', '데이터 설명', '일정', '상금 상세정보', '규칙'],
      dtype='object')
Index(['ID', '일자', '참가자 수'], dtype='object')
Index(['ID', '일자', '제출 수'], dtype='object')
Index(['ID', '일자', '토크 수', '댓글 수', '조회 수', '공유 수', '좋아요 수'], dtype='object')

In [9]:
merge_participate_submission = pd.merge(df_participate, df_submission, on = ['ID','일자'], how = 'inner')
display(merge_participate_submission)
print('\n', merge_participate_submission.isna().sum())

          ID          일자  참가자 수  제출 수
0     ID_000  2018-08-31      1    54
1     ID_001  2018-11-14      1    13
2     ID_001  2018-12-01      1    18
3     ID_002  2019-03-25      3     3
4     ID_002  2019-03-26      3     3
...      ...         ...    ...   ...
4555  ID_147  2023-11-13      9    94
4556  ID_148  2023-10-27     15    37
4557  ID_148  2023-10-28      9    77
4558  ID_148  2023-10-29     15   127
4559  ID_148  2023-10-30      5   122

[4560 rows x 4 columns]

 ID       0
일자       0
참가자 수    0
제출 수     0
dtype: int64

In [12]:
merge_participate_submission['참가자 수'].sort_values(ascending = False)

707     355
4291    248
3169    219
2135    203
4028    196
       ...
2266      1
2260      1
2252      1
2166      1
2280      1
Name: 참가자 수, Length: 4560, dtype: int64

In [ ]:
merge_competiton_codeshare = pd.merge()