In [1]:
import pandas as pd

In [2]:
df_participate = pd.read_csv('participate_log.csv')

In [3]:
df_participate

          ID          일자  참가자 수
0     ID_000  2018-08-31      1
1     ID_001  2018-11-14      1
2     ID_001  2018-12-01      1
3     ID_002  2019-02-11      2
4     ID_002  2019-02-18      1
...      ...         ...    ...
5180  ID_147  2023-11-13      9
5181  ID_148  2023-10-27     15
5182  ID_148  2023-10-28      9
5183  ID_148  2023-10-29     15
5184  ID_148  2023-10-30      5

[5185 rows x 3 columns]

In [4]:
import datetime