In [1]:
import pandas as pd

In [3]:
df_submission = pd.read_csv('submission_log.csv')

In [4]:
df_submission

          ID          일자  제출 수
0     ID_000  2018-08-14     2
1     ID_000  2018-08-15     1
2     ID_000  2018-08-16     1
3     ID_000  2018-08-17     1
4     ID_000  2018-08-18     2
...      ...         ...   ...
4887  ID_147  2023-11-13    94
4888  ID_148  2023-10-27    37
4889  ID_148  2023-10-28    77
4890  ID_148  2023-10-29   127
4891  ID_148  2023-10-30   122

[4892 rows x 3 columns]