In [1]:
import pandas as pd

In [2]:
df_talk = pd.read_csv('talk_log.csv')

In [3]:
df_talk

          ID          일자  토크 수  댓글 수   조회 수  공유 수  좋아요 수
0     ID_000  2018-08-16     1     1   2324     0      5
1     ID_000  2018-08-17     2     2   4729     0      9
2     ID_000  2018-08-21     5     5   9475     0     14
3     ID_000  2018-08-25     6     6  11862     0     18
4     ID_000  2018-08-27    11    11  22621     0     34
...      ...         ...   ...   ...    ...   ...    ...
3482  ID_148  2023-10-16     2     4    931     0     19
3483  ID_148  2023-10-17     3     5   1388     0     33
3484  ID_148  2023-10-29     4    10   1635     0     44
3485  ID_148  2023-10-30     5    10   1704     0     45
3486  ID_148  2023-11-06     7    12   1797     0     47

[3487 rows x 7 columns]